---
layout: page
title: "About Me"
description: "Come here to know about me."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 </option>
    <option value="1"> 英文 </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>hi，帅哥美女们，想来听听我的故事吗？</p></blockquote>
    
    <p>Hey，我是<strong>Alisa</strong>，普通本科学生一枚,计算机科学与技术专业，</p>
    
    <p>其实一开始我对这个迷茫，是被调剂到这个专业的，没有明确的目标。大一的第一学期，学校就计算机专业方面开设了计算机导论，C程序和html网页设计，其中C程序设计可以说给了我当头一击，起初没有意识到动手写代码的重要性，就光光上课听老师讲讲，课后把例题看一遍，由于懒惰没有怎么在电脑上写过代码运行，因此也觉得这是一门十分枯燥的学科。等到第一次期中测验的时候面对编程题一头雾水，就连猴子吃桃问题也没有解出来，这个时候才发现平时课后自己上机练习的重要性。然而当时还是没有投入学习状态，也没有花很多的功夫在专业知识上，到期末考试的时候还是临时抱佛脚勉强考了个75，认为及格万岁了。接下来的一个学期，学校史无前例的把计算机软件方向的一门核心课程——《数据结构》放在了大一下学期，一个星期6个学时，由于C的掌握不扎实，晦涩难懂的知识点以及较程序设计基础课程长几倍，动不动就上百行的代码把我打击的自信全无，我浑浑噩噩的度过了那段黑暗时期，甚至想要放弃专业知识去做点别的。其余的专业课，比如汇编语言，也是学得云里雾里，也在为大二以后更多更难的专业课程担忧着。</p>
    
    <p>大一的那个暑假，看见了和我学同样专业的小学同学，他已经能够做出许多像模像样的小程序来，在我面前演示的时候，我整个感觉自己大学一年级白读了，就像什么都不会一样。同样学了一年计科的同学，现在不仅牢固掌握了专业知识，而且还能自己发挥聪明才智做一点东西出来，也有了自己的专业发展方向，并且还觉得自己学得不够好。虽然说学计科要有兴趣，但是既然学了这个专业，就要把他学好，兴趣也是可以靠后天培养的呀。于是我打算从0开始，重新学习专业知识。。在我学习的过程中，同学给了我很大帮助，并且让我认识到这样专业需要我去不断花时间练习实践，同时也要愿意去接受新的事物。当我第一次在onlin jude上拿到AC时我才体会到了这种乐趣，然而我清楚这才是一个起步，前面还有很多的路要走。转眼现在已经大二，我也赢得了专业方面的第一个荣誉——蓝桥杯C/C++本科B组的省三等奖，虽然对于985、211的大神们来说这不算什么，但也算得上是对我现阶段的一个努力的认可吧。</p>
    
    <p>本科还有两年的时间，这两年也是人生中黄金的两年，毕竟以后没有这么多时间可以学一些东西了，如今，天天花一点时间出来看看视频，敲敲代码，跟着视频做做案例项目已经是我生活中必不可缺的一部分了，我从中也学到了很多东西，早上起来抱着电脑去图书馆，一呆就是一整天，这也是十分惬意的事情啊。虽然比不上CSDN那些大牛们，但是我也要通过努力与他们更近一步，更近一步……</p>
    
    <h5>以下是部分学习网站，愿我们共同进步</h5>
    
    <ul>
    <li><a href="http://www.icourse163.org/">中国大学mooc</a></li>
    <li><a href="http://www.imooc.com/">慕课网——程序员的梦工厂</a></li>
    <li><a href="https://github.com/">Github--面向开源及私有软件项目的托管平台</a></li>
  
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Enrich your life today,<br> yesterday is history，<br>tomorrow is mystery.</p></blockquote>

    <p>Hey, I am <strong>Alisa</strong>，a student of normal university.I am studying Computer Science &amp Technology in NNUTC.I am arookie of programming.At the first time,Iam not interested in this subject.One day I met a manito (<a href="http://www.sctpan.top/">sctpan</a>) of this subject and found his creations are very interesting,from then on,my interest raised gradually.In this blog,I will share you some interesting things,I will also continue to update my blog.</p>

    <p>I need your help,and I wish we can get progress together.</p>

    <h5>Some excellent studying websites</h5>

    <ul>
    <li><a href="http://www.icourse163.org/">中国大学mooc</a></li>
    <li><a href="https://github.com/">Github--面向开源及私有软件项目的托管平台</a></li>
    <li><a href="https://pta.patest.cn/">程序设计实验辅助教学平台</a></li>
    <li><a href="http://www.xuetangx.com/">学堂在线--最大的中文慕课平台</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    
    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}
    
    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';
    
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
