---
layout: page
title: "About Me"
description: "Come here to know about me."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> Chinese </option>
    <option value="1"> English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>hi，帅哥美女们<br>
    想来听听我的故事吗？</p></blockquote>
    
    <p>Hey，我是<strong>Alisa</strong>，普通本科学生一枚，就读于<strong>南京师范大学泰州学院计算机科学与技术</strong>（以下简称cs）专业,可以说是编程小白一枚，嘻嘻。其实一开始我对cs这个领域很迷茫，没有明确的目标，完全是听说了这一专业好就业，但是自从看见了我的大佬级伙伴<a href="http://www.sctpan.top/">sctpan</a>,他玩转的玩意儿，还挺有趣的，也让我对cs这门学科逐渐产生了兴趣哈哈哈哈。开通本博客也是为了能够将自己的灵感也好，经验也罢，甚至是随笔，能够一点一滴记录下来。</p>
    
    <p>希望各位大神能够多多帮助我这个菜鸟，愿我早日能够在cs这一领域闯出自己的天地。</p>
    
    <h5>以下是一些有关程序设计学习网站，愿我们共同进步</h5>
    
    <ul>
    <li><a href="http://www.icourse163.org/">中国大学mooc</a></li>
    <li><a href="https://github.com/">Github--面向开源及私有软件项目的托管平台</a></li>
    <li><a href="https://pta.patest.cn/">程序设计实验辅助教学平台</a></li>
    <li><a href="http://www.xuetangx.com/">学堂在线--最大的中文慕课平台</a></li>
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Enrich your life today,<br> yesterday is history，<br>tomorrow is mystery.</p></blockquote>

    <p>Hey, I am <strong>Alisa</strong>，a student of normal university.I am studying Computer Science &amp Technology in NNUTC.I am arookie of programming.At the first time,Iam not interested in this subject.One day I met a manito (<a href="http://www.sctpan.top/">sctpan</a>) of this subject and found his creations are very interesting,from then on,my interest raised gradually.In this blog,I will share you some interesting things,I will also continue to update my blog.</p>

    <p>I need your help,and I wish we can get progress together.</p>

    <h5>Some excellent studying websites</h5>

    <ul>
    <li><a href="http://www.icourse163.org/">中国大学mooc</a></li>
    <li><a href="https://github.com/">Github--面向开源及私有软件项目的托管平台</a></li>
    <li><a href="https://pta.patest.cn/">程序设计实验辅助教学平台</a></li>
    <li><a href="http://www.xuetangx.com/">学堂在线--最大的中文慕课平台</a></li>
    </ul>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    
    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}
    
    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';
    
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
