<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="{{ '/styles/images/logo.png' | prepend: site.baseurl }}">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">时间总览</a>
        </li>
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">大类分解</a>
        </li>
        <li>
          <a href="{{ '/tag' | prepend: site.baseurl }}">小类内聚</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li>
			<a href = "{{ '/reference' | prepend: site.baseurl }}" class="dropdown-toggle">了解博主</a>
		</li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">站点推荐<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a rel="nofollow" href="https://pintia.cn/">拼题A</a></li>
            <li><a rel="nofollow" href="http://www.icourse163.org/">中国大学慕课</a></li>
            <li><a rel="nofollow" href="http://www.coursera.org/">Coursera</a></li>
            <li><a rel="nofollow" href="http://www.imooc.com/">慕课网</a></li>
            <li><a rel="nofollow" href="http://nnutc.edu.cn/">博主母校</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>